body {
  color: #333;
}

a {
  color: dimgray;
  text-decoration: unset;
}

a:hover {
  color: crimson;
}

ul {
  margin-left: 0;
}

li {
  list-style-type: none;
}

section {
  margin-top: 3rem;
}

img {
  margin-bottom: 0;
}